# Import libraries

In [1]:
import pandas as pd
import json as json

# Read CSV

In [2]:
df = pd.read_csv("../scraping/parking-data-sg/final/pp_sg.csv", sep=";")
df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,...,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.0,134359.000000,...,134359.000000,134359.0,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000
mean,199.697958,231.368602,170.050737,80.188019,91.831437,235.548382,201.113286,91.945690,0.0,54.469920,...,17.270201,0.0,0.258892,0.030344,0.417316,0.041932,14.374133,6.435864,4.017237,0.282483
std,306.207551,260.529622,249.210545,94.258416,131.486076,391.695722,307.452237,140.191298,0.0,86.432702,...,21.700482,0.0,0.438028,0.171532,0.493118,0.200434,7.470731,6.551421,7.099695,1.246384
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-18.249000,0.000000,0.000000
25%,151.000000,156.000000,110.000000,37.000000,47.000000,182.000000,134.000000,52.000000,0.0,0.000000,...,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,8.401000,1.401000,0.000000,0.000000
50%,229.000000,238.000000,187.000000,89.000000,118.000000,251.000000,243.000000,108.000000,0.0,66.000000,...,18.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.551000,6.551000,0.700000,0.000000
75%,252.000000,279.000000,232.000000,112.000000,128.000000,307.000000,259.000000,129.000000,0.0,96.000000,...,26.000000,0.0,1.000000,0.000000,1.000000,0.000000,20.501000,12.151000,5.700000,0.000000
max,82750.000000,42900.000000,56932.000000,22839.000000,29459.000000,111878.000000,85729.000000,35086.000000,0.0,18354.000000,...,4080.000000,0.0,1.000000,1.000000,1.000000,1.000000,32.301003,20.451000,67.600000,23.939995

We see i.e. outliers in max parking data.

# Remove outliers

## Remove outliers from parking data

In [3]:
# Import Metadata
json_dir = '../metadata/metadata.json'
with open(json_dir, 'r', encoding='utf8') as f:
        metadata = json.load(f)

In [4]:
condition = lambda cols: cols.startswith("P")
colnames = [cols for cols in df.columns if condition(cols)]

for name in colnames:
        df.drop(df[df[name] > metadata['parking_sg']['fields'][name]['max_cap']].index, inplace=True)

df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,...,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,55852.000000,55852.000000,55852.000000,55852.000000,55852.000000,55852.000000,55852.000000,55852.000000,55852.0,55852.000000,...,55852.000000,55852.0,55854.000000,55854.000000,55854.000000,55854.000000,55854.000000,55854.000000,55854.000000,55854.000000
mean,142.625224,174.287814,125.458354,56.568323,56.250430,180.703592,137.016991,57.499606,0.0,44.530957,...,13.456098,0.0,0.242543,0.023687,0.398951,0.056236,14.252911,6.333118,3.926004,0.298265
std,64.440850,90.099662,63.762311,41.049387,43.517425,84.074639,64.466941,38.629403,0.0,37.065147,...,9.567926,0.0,0.428625,0.152073,0.489687,0.230379,7.379811,6.428814,6.855619,1.284303
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-14.049000,0.000000,0.000000
25%,91.000000,107.000000,86.000000,22.000000,20.000000,132.000000,88.000000,26.000000,0.0,0.000000,...,5.000000,0.0,0.000000,0.000000,0.000000,0.000000,8.551000,1.401000,0.000000,0.000000
50%,142.000000,177.000000,115.000000,51.000000,44.000000,188.000000,128.000000,49.000000,0.0,57.000000,...,14.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.351000,6.351000,0.700000,0.000000
75%,195.000000,237.000000,169.000000,93.000000,96.000000,240.000000,183.000000,85.000000,0.0,75.000000,...,21.000000,0.0,0.000000,0.000000,1.000000,0.000000,20.251000,11.901000,5.700000,0.000000
max,275.000000,447.000000,292.000000,170.000000,132.000000,369.000000,274.000000,138.000000,0.0,110.000000,...,32.000000,0.0,1.000000,1.000000,1.000000,1.000000,31.801000,20.401000,67.600000,23.939995

# Remove P54 and P41

In [5]:
# Both not in use for whole time
df.drop(['P54', 'P41'], axis=1)

,P24,P44,P42,P33,P23,P25,P21,P31,P53,P32,...,P43,datetime,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
64,206.0,253.0,0.0,89.0,127.0,198.0,221.0,130.0,0.0,63.0,...,32.0,02.10.2019 07:25,1,0,0,0,14.701,6.601,16.9,0.0
288,87.0,87.0,0.0,4.0,24.0,173.0,69.0,25.0,0.0,26.0,...,5.0,04.10.2019 15:28,1,0,0,0,12.301,3.551,8.0,0.0
289,99.0,106.0,0.0,3.0,38.0,175.0,68.0,21.0,0.0,27.0,...,11.0,04.10.2019 15:43,1,0,0,0,12.301,3.551,8.0,0.0
290,105.0,109.0,0.0,3.0,37.0,178.0,78.0,22.0,0.0,30.0,...,15.0,04.10.2019 15:58,1,0,0,0,12.301,3.551,8.0,0.0
291,104.0,133.0,0.0,8.0,44.0,183.0,91.0,22.0,0.0,32.0,...,21.0,04.10.2019 16:13,1,0,0,0,12.301,3.551,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134356,228.0,432.0,237.0,98.0,131.0,286.0,247.0,122.0,107.0,88.0,...,31.0,09.11.2023 05:46,0,0,0,0,9.951,0.351,0.6,0.0
134357,222.0,430.0,232.0,95.0,129.0,277.0,244.0,119.0,104.0,87.0,...,31.0,09.11.2023 05:56,0,0,0,0,9.951,0.351,0.6,0.0
134358,215.0,427.0,224.0,92.0,129.0,267.0,241.0,118.0,103.0,82.0,...,32.0,09.11.2023 06:08,0,0,0,0,9.951,0.351,0.6,0.0
134359,214.0,424.0,218.0,88.0,125.0,257.0,234.0,117.0,97.0,79.0,...,31.0,09.11.2023 06:17,0,0,0,0,9.951,0.351,0.6,0.0
134360,210.0,420.0,213.0,80.0,124.0,248.0,231.0,115.0,92.0,77.0,...,31.0,09.11.2023 06:26,0,0,0,0,9.951,0.351,0.6,0.0

## TODO remove outliers from other data

In [6]:
# TODO

# Remove NaN / Null values

Check how many NaN / Null values there are:

In [7]:
df.isnull().sum().sum()

32

Remove them

In [8]:
df = df.dropna()

Check how many NaN / Null values there are after cleaning (should be 0):

In [9]:
df.isnull().sum().sum()

0

# TODO other various data cleaning stuff

In [10]:
# TODO

# Write CSV

In [11]:
df.to_csv("pp_sg_cleaned.csv", sep=";", index=False)