# Data Cleaning

### Import libraries

In [10]:
import pandas as pd
import json as json

### Read CSV

In [11]:
## For train-data
outputfile = "01_pp_sg_train_cleaned.csv"
df = pd.read_csv("../scraping/parking-data-sg/final/pp_sg_train.csv", sep=";")
df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,...,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,108090.000000,108090.000000,108090.000000,108090.000000,108090.000000,108090.000000,108090.000000,108090.000000,108090.0,108090.000000,...,108090.000000,108090.0,108092.000000,108092.000000,108092.000000,108092.000000,108092.000000,108092.000000,108092.000000,108092.000000
mean,200.135073,221.313896,171.059784,76.452762,91.355852,232.892044,200.952216,92.475622,0.0,49.367240,...,16.561819,0.0,0.246475,0.030178,0.518734,0.033027,13.539939,5.711586,3.735914,0.324224
std,339.685858,282.734238,276.036316,102.341272,144.907316,434.807797,341.226682,154.835713,0.0,93.924555,...,23.774445,0.0,0.430960,0.171078,0.499651,0.178709,7.430429,6.586646,6.671000,1.357385
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-18.249000,0.000000,0.000000
25%,152.000000,149.000000,110.000000,35.000000,45.000000,179.000000,134.000000,53.000000,0.0,0.000000,...,4.000000,0.0,0.000000,0.000000,0.000000,0.000000,7.451000,0.501000,0.000000,0.000000
50%,229.000000,229.000000,188.000000,86.000000,117.000000,249.000000,243.000000,109.000000,0.0,61.000000,...,17.000000,0.0,0.000000,0.000000,1.000000,0.000000,13.701000,5.701000,0.600000,0.000000
75%,252.000000,276.000000,236.000000,102.000000,128.000000,306.000000,260.000000,130.000000,0.0,92.000000,...,26.000000,0.0,0.000000,0.000000,1.000000,0.000000,19.701000,11.651000,4.900001,0.000000
max,82750.000000,42900.000000,56932.000000,22839.000000,29459.000000,111878.000000,85729.000000,35086.000000,0.0,18354.000000,...,4080.000000,0.0,1.000000,1.000000,1.000000,1.000000,31.151000,20.451000,61.599995,23.939995

In [12]:
## For test-data
#outputfile = "pp_sg_test_cleaned.csv"
#df = pd.read_csv("../scraping/parking-data-sg/final/pp_sg_test.csv", sep=";")

### Remove outliers

We see i.e. outliers in max parking data.

#### Remove outliers from parking data

In [13]:
# Import Metadata
json_dir = '../metadata/metadata.json'
with open(json_dir, 'r', encoding='utf8') as f:
        metadata = json.load(f)

In [14]:
condition = lambda cols: cols.startswith("P")
colnames = [cols for cols in df.columns if condition(cols)]

for name in colnames:
        df.drop(df[df[name] > metadata['parking_sg']['fields'][name]['max_cap']].index, inplace=True)

df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,...,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,44829.000000,44829.000000,44829.000000,44829.000000,44829.000000,44829.000000,44829.000000,44829.000000,44829.0,44829.000000,...,44829.000000,44829.0,44831.000000,44831.000000,44831.000000,44831.000000,44831.000000,44831.000000,44831.000000,44831.000000
mean,142.809476,164.874389,126.638538,54.681166,55.274711,175.311517,134.464231,58.044235,0.0,39.616654,...,12.488925,0.0,0.225781,0.021971,0.497044,0.045125,13.457308,5.632456,3.529529,0.344686
std,64.118903,80.447774,65.072792,41.047913,43.491198,84.359402,65.083077,38.582214,0.0,36.134430,...,9.637479,0.0,0.418100,0.146592,0.499997,0.207581,7.369833,6.460264,6.228574,1.402740
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-14.049000,0.000000,0.000000
25%,91.000000,105.000000,86.000000,19.000000,19.000000,125.000000,84.000000,26.000000,0.0,0.000000,...,2.000000,0.0,0.000000,0.000000,0.000000,0.000000,7.501000,0.551000,0.000000,0.000000
50%,143.000000,168.000000,117.000000,50.000000,43.000000,184.000000,127.000000,50.000000,0.0,51.000000,...,13.000000,0.0,0.000000,0.000000,0.000000,0.000000,13.551000,5.501000,0.500000,0.000000
75%,194.000000,225.000000,171.000000,93.000000,95.000000,235.000000,181.000000,86.000000,0.0,70.000000,...,21.000000,0.0,0.000000,0.000000,1.000000,0.000000,19.501000,11.551000,4.800001,0.000000
max,269.000000,447.000000,292.000000,170.000000,132.000000,362.000000,274.000000,138.000000,0.0,110.000000,...,32.000000,0.0,1.000000,1.000000,1.000000,1.000000,31.151000,19.901000,61.599995,23.939995

#### Remove P54 and P41

In [15]:
# Both not in use for whole time
df = df.drop(['P54', 'P41'], axis=1)

#### Remove NaN / Null values

Check how many NaN / Null values there are:

In [16]:
df.isnull().sum().sum()

28

Remove them

In [17]:
df = df.dropna()

Check how many NaN / Null values there are after cleaning (should be 0):

In [18]:
df.isnull().sum().sum()

0

#### TODO other various data cleaning stuff

In [19]:
# TODO

### Write CSV

In [20]:
df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P53,P32,...,P51,P43,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,...,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000,44827.000000
mean,142.808932,164.877306,126.638611,54.680706,55.275749,175.311308,134.464497,58.044125,39.615477,41.697348,...,32.858902,12.488879,0.225757,0.021973,0.497000,0.045129,13.456925,5.631885,3.529143,0.344717
std,64.120223,80.448353,65.073891,41.048531,43.491865,84.361251,65.084514,38.583067,36.134791,29.920853,...,23.971380,9.637270,0.418084,0.146598,0.499997,0.207589,7.369427,6.459967,6.228703,1.402799
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.999000,-14.049000,0.000000,0.000000
25%,91.000000,105.000000,86.000000,19.000000,19.000000,125.000000,84.000000,26.000000,0.000000,14.000000,...,13.000000,2.000000,0.000000,0.000000,0.000000,0.000000,7.501000,0.551000,0.000000,0.000000
50%,143.000000,168.000000,117.000000,50.000000,43.000000,184.000000,127.000000,50.000000,51.000000,39.000000,...,29.000000,13.000000,0.000000,0.000000,0.000000,0.000000,13.551000,5.501000,0.500000,0.000000
75%,194.000000,225.000000,171.000000,93.000000,95.000000,235.000000,181.000000,86.000000,70.000000,67.000000,...,51.000000,21.000000,0.000000,0.000000,1.000000,0.000000,19.501000,11.551000,4.750000,0.000000
max,269.000000,447.000000,292.000000,170.000000,132.000000,362.000000,274.000000,138.000000,110.000000,96.000000,...,88.000000,32.000000,1.000000,1.000000,1.000000,1.000000,31.151000,19.901000,61.599995,23.939995

In [21]:
df.to_csv(outputfile, sep=";", index=False)