# Data Cleaning

### Import libraries

In [8]:
import pandas as pd
import json as json
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [9]:
# Options
pd.set_option('display.max_columns', None)

### Read CSV

In [10]:
df = pd.read_csv("../scraping/parking-data-sg/final/pp_sg.csv", sep=";")
df['datetime_formatted'] = pd.to_datetime(df['datetime'], format='%d.%m.%Y %H:%M')
df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,P32,P22,P52,P51,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum,datetime_formatted
count,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.0,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.0,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361
mean,199.697958,231.368602,170.050737,80.188019,91.831437,235.548382,201.113286,91.945690,0.0,54.469920,54.920370,44.128603,80.654649,94.980641,17.270201,0.0,0.258892,0.030344,0.417316,0.041932,14.374133,6.435864,4.017237,0.282483,2021-11-24 07:55:55.361154048
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-18.249000,0.000000,0.000000,2019-10-01 15:27:00
25%,151.000000,156.000000,110.000000,37.000000,47.000000,182.000000,134.000000,52.000000,0.0,0.000000,10.000000,21.000000,41.000000,36.000000,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,8.401000,1.401000,0.000000,0.000000,2020-09-21 09:43:00
50%,229.000000,238.000000,187.000000,89.000000,118.000000,251.000000,243.000000,108.000000,0.0,66.000000,66.000000,46.000000,90.000000,128.000000,18.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.551000,6.551000,0.700000,0.000000,2021-12-26 13:26:00
75%,252.000000,279.000000,232.000000,112.000000,128.000000,307.000000,259.000000,129.000000,0.0,96.000000,93.000000,67.000000,123.000000,143.000000,26.000000,0.0,1.000000,0.000000,1.000000,0.000000,20.501000,12.151000,5.700000,0.000000,2022-12-14 16:55:00
max,82750.000000,42900.000000,56932.000000,22839.000000,29459.000000,111878.000000,85729.000000,35086.000000,0.0,18354.000000,29790.000000,9784.000000,28334.000000,47002.000000,4080.000000,0.0,1.000000,1.000000,1.000000,1.000000,32.301003,20.451000,67.600000,23.939995,2023-11-09 06:26:00
std,306.207551,260.529622,249.210545,94.258416,131.486076,391.695722,307.452237,140.191298,0.0,86.432702,114.522445,49.232383,114.752314,165.674666,21.700482,0.0,0.438028,0.171532,0.493118,0.200434,7.470731,6.551421,7.099695,1.246384,NaN

### Remove outliers

We see i.e. outliers in max parking data.

#### Remove outliers from parking data

In [11]:
# Import Metadata
json_dir = '../metadata/metadata.json'
with open(json_dir, 'r', encoding='utf8') as f:
    metadata = json.load(f)

In [12]:
condition = lambda cols: cols.startswith("P")
colnames = [cols for cols in df.columns if condition(cols)]

for name in colnames:
    df.drop(df[df[name] > metadata['parking_sg']['fields'][name]['max_cap']].index, inplace=True)

df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,P32,P22,P52,P51,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum,datetime_formatted
count,134258.000000,134258.000000,134258.000000,134258.000000,134258.000000,134258.000000,134258.000000,134258.000000,134258.0,134258.000000,134258.000000,134258.000000,134258.000000,134258.000000,134258.000000,134258.0,134260.000000,134260.000000,134260.000000,134260.000000,134260.000000,134260.000000,134260.000000,134260.000000,134260
mean,197.725163,229.444078,168.404609,79.622592,90.946022,233.025444,199.099018,91.007910,0.0,53.965492,54.183564,43.829053,80.022263,94.035171,17.143425,0.0,0.258700,0.030366,0.416997,0.041911,14.375313,6.437426,4.017475,0.282620,2021-11-24 12:47:54.742291200
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-18.249000,0.000000,0.000000,2019-10-01 15:27:00
25%,151.000000,156.000000,110.000000,37.000000,46.000000,182.000000,134.000000,52.000000,0.0,0.000000,10.000000,21.000000,41.000000,36.000000,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,8.401000,1.401000,0.000000,0.000000,2020-09-21 11:07:00
50%,229.000000,238.000000,187.000000,89.000000,117.000000,251.000000,243.000000,108.000000,0.0,66.000000,66.000000,46.000000,90.000000,128.000000,18.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.551000,6.551000,0.700000,0.000000,2021-12-27 02:04:30
75%,252.000000,279.000000,232.000000,111.000000,128.000000,307.000000,259.000000,129.000000,0.0,96.000000,93.000000,67.000000,123.000000,143.000000,26.000000,0.0,1.000000,0.000000,1.000000,0.000000,20.501000,12.151000,5.700000,0.000000,2022-12-14 23:14:30
max,275.000000,500.000000,292.000000,175.000000,134.000000,371.000000,274.000000,138.000000,0.0,112.000000,96.000000,86.000000,155.000000,170.000000,51.000000,0.0,1.000000,1.000000,1.000000,1.000000,32.301003,20.451000,67.600000,23.939995,2023-11-09 06:26:00
std,67.485503,111.418886,73.602678,48.530177,46.032999,91.567352,73.733513,42.976426,0.0,42.706819,38.457479,26.091536,49.980355,55.518488,11.712676,0.0,0.437922,0.171594,0.493064,0.200387,7.469771,6.548786,7.100048,1.246774,NaN

#### Remove P54 and P41

In [13]:
# Both not in use for whole time
df = df.drop(['P54', 'P41'], axis=1)

#### Remove NaN / Null values

Check how many NaN / Null values there are:

In [14]:
df.isnull().sum().sum()

28

Remove them

In [15]:
df = df.dropna()

Check how many NaN / Null values there are after cleaning (should be 0):

In [16]:
df.isnull().sum().sum()

0

#### TODO other various data cleaning stuff

In [ ]:
# TODO

### Write CSV

In [17]:
# To create the dataset with data starting from 01/03/2022 use:
# outputfile_train = "02_pp_sg_train_cleaned.csv"
# outputfile_test = "02_pp_sg_test_cleaned.csv"

outputfile_train = "01_pp_sg_train_cleaned.csv"
outputfile_test = "01_pp_sg_test_cleaned.csv"

#### Write Train CSV

In [18]:
# To create the dataset with data starting from 01/03/2022 use:
# df_train = df[df['datetime_formatted'] >= '2022-03-01']
# df_train = df_train[df_train['datetime_formatted'] < '2023-06-01']

df_train = df[df['datetime_formatted'] < '2023-03-01']
df_train = df_train.drop(['datetime_formatted'], axis=1)  # TODO decide whether to drop or not
df_train.to_csv(outputfile_train, sep=";", index=False)

#### Write Test CSV

In [19]:
# To create the dataset with data starting from 01/03/2022 use:
# df_test = df[df['datetime_formatted'] >= '2023-06-01']

df_test = df[df['datetime_formatted'] >= '2023-03-01']
df_test = df_test.drop(['datetime_formatted'], axis=1)  # TODO decide whether to drop or not
df_test.to_csv(outputfile_test, sep=";", index=False)