# Import libraries

In [1]:
import pandas as pd;

# Read CSV

In [2]:
df = pd.read_csv("../scraping/parking-data-sg/final/pp_sg.csv", sep=";")
df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,...,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.000000,134359.0,134359.000000,...,134359.000000,134359.0,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000,134361.000000
mean,199.697958,231.368602,170.050737,80.188019,91.831437,235.548382,201.113286,91.945690,0.0,54.469920,...,17.270201,0.0,0.258892,0.030344,0.417316,0.041932,14.374133,6.435864,4.017237,0.282483
std,306.207551,260.529622,249.210545,94.258416,131.486076,391.695722,307.452237,140.191298,0.0,86.432702,...,21.700482,0.0,0.438028,0.171532,0.493118,0.200434,7.470731,6.551421,7.099695,1.246384
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-18.249000,0.000000,0.000000
25%,151.000000,156.000000,110.000000,37.000000,47.000000,182.000000,134.000000,52.000000,0.0,0.000000,...,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,8.401000,1.401000,0.000000,0.000000
50%,229.000000,238.000000,187.000000,89.000000,118.000000,251.000000,243.000000,108.000000,0.0,66.000000,...,18.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.551000,6.551000,0.700000,0.000000
75%,252.000000,279.000000,232.000000,112.000000,128.000000,307.000000,259.000000,129.000000,0.0,96.000000,...,26.000000,0.0,1.000000,0.000000,1.000000,0.000000,20.501000,12.151000,5.700000,0.000000
max,82750.000000,42900.000000,56932.000000,22839.000000,29459.000000,111878.000000,85729.000000,35086.000000,0.0,18354.000000,...,4080.000000,0.0,1.000000,1.000000,1.000000,1.000000,32.301003,20.451000,67.600000,23.939995

We see i.e. outliers in max parking data.

# Remove outliers

## Remove outliers from parking data

In [11]:
# This is the most available parking for every parking garage. TODO use max of each garage separately.
max_parking = 500

for column in df:
    if column[0] == "P" and len(column) == 3:
        df.drop(df[df[column] >= max_parking].index, inplace=True)

df.describe()

,P24,P44,P42,P33,P23,P25,P21,P31,P54,P53,...,P43,P41,ferien,feiertag,covid_19,olma_offa,temperature_2m_max,temperature_2m_min,rain_sum,snowfall_sum
count,133525.000000,133525.000000,133525.000000,133525.000000,133525.000000,133525.000000,133525.000000,133525.000000,133525.0,133525.000000,...,133525.000000,133525.0,133527.000000,133527.000000,133527.000000,133527.000000,133527.000000,133527.000000,133527.000000,133527.000000
mean,197.410702,227.943262,168.073065,79.386332,90.746167,232.674593,198.776948,90.800097,0.0,53.998719,...,17.138835,0.0,0.258435,0.030451,0.416567,0.041557,14.382567,6.440906,4.013021,0.283145
std,67.548800,109.884580,73.565927,48.506594,46.087288,91.574626,73.787841,43.008791,0.0,42.665245,...,11.709719,0.0,0.437776,0.171825,0.492992,0.199576,7.467885,6.548678,7.085175,1.248921
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,-3.999000,-18.249000,0.000000,0.000000
25%,151.000000,155.000000,110.000000,36.000000,46.000000,182.000000,134.000000,52.000000,0.0,0.000000,...,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,8.401000,1.401000,0.000000,0.000000
50%,228.000000,237.000000,186.000000,89.000000,117.000000,250.000000,242.000000,108.000000,0.0,66.000000,...,18.000000,0.0,0.000000,0.000000,0.000000,0.000000,14.551000,6.551000,0.700000,0.000000
75%,252.000000,279.000000,231.000000,111.000000,128.000000,307.000000,258.000000,129.000000,0.0,96.000000,...,26.000000,0.0,1.000000,0.000000,1.000000,0.000000,20.501000,12.151000,5.700000,0.000000
max,443.000000,499.000000,446.000000,206.000000,258.000000,490.000000,462.000000,270.000000,0.0,145.000000,...,54.000000,0.0,1.000000,1.000000,1.000000,1.000000,32.301003,20.451000,67.600000,23.939995

## TODO remove outliers from other data

In [12]:
# TODO

# TODO other various data cleaning stuff

In [13]:
# TODO

# Write CSV

In [16]:
df.to_csv("pp_sg_cleaned.csv", sep=";", index=False)