# Prepare time and date features for 2024 prediction

### Import libraries

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta

In [2]:
# Options
pd.set_option("display.max_columns", None)

### Import Raw Feature Data for 2024

In [3]:
outputfile = "01_preped_time_and_date_features_2024.csv"
df = pd.read_csv("./raw_features_2024.csv")
df = df[df["date"] >= "2024-01-01"] # Only dates from 2024
df.head()

            date  ferien  feiertag  covid_19  olma_offa
1826  2024-01-01       1         1         0          0
1827  2024-01-02       1         0         0          0
1828  2024-01-03       1         0         0          0
1829  2024-01-04       1         0         0          0
1830  2024-01-05       1         0         0          0

### Add time in 15 minutes steps

In [4]:
liste_time = (pd.DataFrame(columns=['NULL'],
                  index=pd.date_range('2024-01-01 00:00', '2024-12-31 23:45',
                                      freq='15T'))
       .between_time('00:00','23:45')
       .index.strftime('%Y-%m-%d %H:%M')
       .tolist()
)

df_time = pd.DataFrame(liste_time, columns=['datetime'])
df_time['datetime'] = pd.to_datetime(df_time['datetime'], format='%Y-%m-%d %H:%M')
df_time['date'] = pd.to_datetime(df_time['datetime'].dt.date, format='%Y-%m-%d') # Extract Date
df_time.head()

             datetime       date
0 2024-01-01 00:00:00 2024-01-01
1 2024-01-01 00:15:00 2024-01-01
2 2024-01-01 00:30:00 2024-01-01
3 2024-01-01 00:45:00 2024-01-01
4 2024-01-01 01:00:00 2024-01-01

### Merge Features and Time

In [5]:
df = pd.merge(df_time, df, on="date", how="left")
df.head()

ValueError: You are trying to merge on datetime64[ns] and object columns for key 'date'. If you wish to proceed you should use pd.concat

### Extract Time Components and Decompose Time-Features in sine and cosine component

In [ ]:
# Ggf. installieren
# pip install nbformat nbclient

In [62]:
%run ../common_code/01_prepare_time_features.ipynb
df.head()

,datetime,date,ferien,feiertag,covid_19,olma_offa,year,month,day,weekdayname,weekday,time,hour,minute,sin_minute,cos_minute,sin_hour,cos_hour,sin_weekday,cos_weekday,sin_day,cos_day,sin_month,cos_month
0,2024-01-01 00:00:00,2024-01-01,1,1,0,0,2024,1,1,Monday,0,00:00,0,0,0.000000e+00,1.000000e+00,0.000000,1.000000,0.0,1.0,0.207912,0.978148,0.5,0.866025
1,2024-01-01 00:15:00,2024-01-01,1,1,0,0,2024,1,1,Monday,0,00:15,0,15,1.000000e+00,2.832769e-16,0.000000,1.000000,0.0,1.0,0.207912,0.978148,0.5,0.866025
2,2024-01-01 00:30:00,2024-01-01,1,1,0,0,2024,1,1,Monday,0,00:30,0,30,5.665539e-16,-1.000000e+00,0.000000,1.000000,0.0,1.0,0.207912,0.978148,0.5,0.866025
3,2024-01-01 00:45:00,2024-01-01,1,1,0,0,2024,1,1,Monday,0,00:45,0,45,-1.000000e+00,-1.836970e-16,0.000000,1.000000,0.0,1.0,0.207912,0.978148,0.5,0.866025
4,2024-01-01 01:00:00,2024-01-01,1,1,0,0,2024,1,1,Monday,0,01:00,1,0,0.000000e+00,1.000000e+00,0.258819,0.965926,0.0,1.0,0.207912,0.978148,0.5,0.866025

### Export to CSV

In [ ]:
df.to_csv(outputfile, sep=";", index=False)